/.phpunit.cache
/node_modules

# .env and sensitive files — DO NOT upload
.env
.env.backup
.env.production
/storage/*.key

# IDE & system files
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
